.button-page {
    width: 40px;
    height: 30px;
    position: absolute;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 30px solid #fff;
    border-right: 15px solid transparent;
}

.button-page.-backbutton {
    width: 40px;
    height: 30px;
    position: absolute;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 30px solid #fff;
    border-left: 15px solid transparent;
}